@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&display=swap');

/* Estilo comun de todo el sitio  */ 

body { margin: 0; }
header{
    background-color:#0d4c75;
    padding: 10px;
}   
body {
    font-family:'Montserrat', sans-serif;
    background:linear-gradient(#fafafa, #e5e2e2);
}

p {
    color: #0d4c75;
}

div.textoSomos {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.5rem;
}
p.copyright {
 color: #ffffff;
}
h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(to right, #0d4c75, #3283b9);
  background: linear-gradient(to right, #0d4c75, #3283b9);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  
}

h2 {
    background:linear-gradient(to right,#0d4c75, #c7133b);
    color: #ffffff;
    font-size: 2rem;  
    padding-left: 20px; 
}


footer{
    background: linear-gradient(to right, #0d4c75, #3283b9);
    color: #ffffff ;
    position: relative;
    padding-top: 30px;
}
a{
    text-decoration: none;   
    color: #ffffff;
}

h3.subtitulo {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(to right, #0d4c75, #3283b9);
     background: linear-gradient(to right, #0d4c75, #3283b9);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
  padding-bottom: 80px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #3283b9 ;
}
/* seccion de iconos x3 */
section.icons {
    background-color: #e5e2e28e;
    padding: 3rem;
    padding-top: 200px;
    padding-bottom: 200px;
       
}


.icon-tab, .icon-globe, .icon-road1{
    color: #ffffff;
    font-size: 2.5rem;
    background-color:#0d4c75;
    padding: 1rem;
    border-radius: 50%;   
    width: 50px;
    height: 50px;
 
}

section.icons i:hover {
    background-color:  #3283b9 ;
}



nav nav-pills nav-fill {
    background-color: #0d4c75;
}
li.nav-item a:hover {
    background-color: #3283b9;
    color: #ffffff;
}


.nav-pills .nav-link.active {
    background-color: #3283b9;
}

div.cajaClientes{
    padding-top: 100px;
    padding-bottom: 100px;

}
p.pGrey {
    color: #b2b1b1;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.125rem;
    font-size: 1rem;
}
/* pagina nosotros */
ol li {
    color: #ffffff;
    
 }
 section.nosotros {
     padding: 4rem;
     background-color: #3283b9;
     
 }
 
 ol li ul li {
     text-align: left;
     margin: 10px;
 }
i.garantiaIcon {
    font-size: 3rem;
    color: #3283b9 ;
    margin-top: 80px;
    padding-top: 200px;
}
div.garantia {
    padding-top: 100px;
    padding-bottom: 150px;
}

/* pagina de servicios */
section._services{
    padding-bottom: 200px;
    padding-top: 100px;
}
.btn-primary {
    color: #ffffff;
    background-color: #3283b9 ;
    border-color: #3283b9 ;
}
/* pagina de CONTACTO */
i.iconContacto {
    font-size: 1.5rem;
    color: #3283b9 ;

}


/* 

nav ul   {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
} 

nav ul li img {
    justify-content: left;
}

nav ul li a {
    justify-content: right;
}
a{
    text-decoration: none;   
    color: #ffffff;
}

nav a:hover {
    background-color:  #3283b9 ;
    padding: 1rem;
}

nav ul li {
    
    margin: 5px 20px 10px 5px; 
}

nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
  }
nav  ul ul li {
    float:none;
    width:150px
  }
nav ul ul a {
    line-height:120%;
    padding:10px 15px;
  }
  
nav ul li:hover>ul {
    display:block;
  }


.titulo {
    font-size: 2rem;
    font-weight: 600;
    background: -webkit-linear-gradient(to right, #0d4c75, #3283b9);
  background: linear-gradient(to right, #0d4c75, #3283b9);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  text-align: right;
  padding-right: 2rem;
}

.subtitulo {
    background:linear-gradient(to right,#0d4c75, #c7133b);
    color: #ffffff;
    font-size: 1.5rem;  
    padding-left: 20px; 
    width: 600px;
    transition: width 2s;
}
    
.subtitulo:hover {
    width: 100%;
}
h3 {
    color: #c7133b;  
}



img.banner {
    width: 100%;
    height: auto;
  
}

section.introPag p{
    text-align: center;
    font-size: 1.5rem;
    padding: 80px;

}

/* pagina de contactos 
div.cajaFormulario {
    background-color:#bbe1fa71 ;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
label {
    color: #0d4c75;
}

div.formularioContacto {
    padding: 10px;

}
section._contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    padding: 2rem;
    margin-bottom: 50px;
    margin-top: 50px;

}
section._contacto i {
    font-size: 2rem;
    color: #0d4c75;
}

section._contacto p{
    font-size: 1.2rem;
    
}
div.iconContact {
   margin-left: 100px;
}
*/ 

/* pagina de servicios 
section.img {
    width: 100%;
    height: auto;
}
section._services{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px ;
    column-gap: 50px;
    row-gap: 150px;
    margin: auto;
    padding-top: 100px;
    justify-content: center;
    background-color: #e5e3e3;
    padding-bottom: 200px;
    grid-template-areas: "maritimo aereo"
                        "terrestre postal";
    
}
.maritimo {
    grid-area: maritimo;
}
.aereo {
    grid-area: aereo;

}
.terrestre {
    grid-area: terrestre;
}
.postal {
    grid-area: postal;
}
section._services p {
    color: #0d4c75;

}
section._services h3 {
    background-color: #e94559;
    color: #ffffff;
    font-size: 1.5rem;
    
}
@media only screen and (min-width: 370px) and (max-width: 768px) {
    section._services{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4,400px); 
        column-gap: 50px;
        row-gap: 120px;
        grid-template-areas: 
        "maritimo" 
        "aereo"
        "terrestre"
         "postal";
    }
}
@media only screen and (min-width: 769px) and (max-width: 920px){
    section._services{
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4,400px); 
        grid-template-areas: 
        "maritimo" 
        "aereo"
        "terrestre"
         "postal";}
}

*/ 



/*  pagina sobre nosotros 


div.formula {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem;
    margin: auto;
    background-color: #e5e2e2;
}
div.textoformula {
    padding-left: 30px;

}

.icon-spinner3 {
    color: #1b428b;
    font-size: 3rem;
    
}
div.formula h3 {
    color:#1b428b ;
    font-size: 24px;
    font-weight: 600;

}
*/ 
     

/* pagina de inicio
section.icons {
    background-color: #e5e2e2;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.icon-tab, .icon-globe, .icon-road1, .icon-users {
    color: #ffffff;
    font-size: 3rem;
    background-color:#1b428b;
    padding: 1rem;
    border-radius: 50%;   
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
    text-align: center;
}

section.icons i:hover {
    background-color:  #3283b9 ;
}

h3.inicio {
    display: inline-block;
    color: #1b428b ;
    padding: 1rem;
  
}
div.iconos3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    width: 350px;
    height: 300px;
}

.cajaclientes {
    margin-bottom: 50px;
    margin-top: 50px;
}
div.clientes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

*/ 


/* pagina maritimo
h3._h3maritimo {
    padding: 20px;
}

div.fleteMaritimo ul li{
    color: #0d4c75;
    margin-left: 40px;
   
}

div.fleteMaritimo {
    display: flex;
    flex: row;
    justify-content: space-around;
    margin: 80px;
    padding-top: 50px;
    padding-bottom: 100px;
    align-items: flex-start;

}


div._tiempos {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 80px;
}

div._tiempos ul li {
        color: #0d4c75;
        margin-left: 20px;
}
div.fleteMaritimo i {
    font-size: 2rem;
    color: #0d4c75;
}

div.textMaritimo {
    margin-left: 50px;
}

*/ 
