// tipos //
$p-body: normal 16px/1rem 'Montserrat', sans-serif;
$p-grey: normal 16px/1rem 'Arimo', sans-serif;
$tittle-font: 2.5vw 'Montserrat', sans-serif; 
$subtittle: 2rem 'Montserrat', sans-serif; 
$subtittle2: 1.5rem 'Montserrat', sans-serif; 
$p-intro: normal 1.2rem 'Montserrat', sans-serif;
//colores //

$color-blue-marine: #0d4c75;
$color-blue-marine-light: #3283b9;
$color-blue-aqua:#bbe1f8;
$color-red: #c7133b;
$color-red-light: #e94559;
$color-white: #ffffff;
$color-grey-light: #fafafa;
$color-grey-lighter: #e5e2e28e;
$color-grey-dark: #b2b1b1;
$color-gradient: linear-gradient(to right,#0d4c75, #c7133b);
$color-gradient-blue: linear-gradient(to right, #0d4c75, #3283b9); 
$color-gradient-red: linear-gradient( #c7133b,  #e94559);
$color-gradient-grey: linear-gradient( #b2b1b1, #fafafa);
$color-gradient-green: linear-gradient(#3fb17a, #bfddb4);
$color-green-tree: #3fb17a;
$color-green-light: #bfddb4; 