

.section_contact {
    .card {
        padding: 10px;
    
        i {
        color: $color-blue-marine-light;
        font-size: 2rem;

    }
}
}
.section_form {

  .background_imgcont {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 800px;
  }
.container_form{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    h3{
        color: $color-white;
    }
    label {
        color: $color-white;
    }


}


}

@media (min-width: 767px) {
    .background_imgcont{
        height: 1200px;

    }
}
