.btn-primary {
        background: $color-gradient-red;
        border-color: $color-red;
        color: $color-white;
            a {
                color: $color-white;
                text-decoration: none;

                }
             &:hover {
                    background: $color-blue-marine-light;
                    border-color: $color-blue-marine-light;
                    color: $color-white; 
                        }

}

