.section__icons{
    background-color: $color-grey-lighter;
    margin-top: 100px;
    padding: 3rem;
    padding-top: 200px;
    padding-bottom: 200px;
        .icons_box{
            padding: 2rem ;
        }
            a {
                text-decoration: none;
            }
            i {
                background-color:$color-blue-marine;
                border-radius: 50%;  
                color: $color-white;
                font-size: 2.5rem;
                height: 50px;  
                padding: 1rem;
                width: 50px;                     
            &:hover {
                background-color: $color-blue-marine-light ;
                    }
            } 
            h5.pGrey {
                margin-top: 30px;
        }      
}


