.header--background-color {
    background-color: $color-blue-marine;

}

nav {
    .nav-item {
        margin-left: 5px;
        margin-right: 5px;
        .nav-link.active {
            background-color: $color-blue-marine-light;
            border-radius: 2px;
            color:$color-white;
        }

       
        a.nav-link {
            color:$color-white;
            text-decoration: none;
            
            
        
        &:hover {
            background-color: $color-blue-marine-light;
            border-radius: 2px;
            color: $color-white; 
                }
            }
                    
                }
            
    }

button {
        
        
        background-color: $color-blue-marine-light;
        border-color: $color-blue-marine-light;
        .navbar-toggler-icon {
            color: $color-white;
        }
}

